<mat-toolbar class="top-0 w-full z-50 sticky justify-between" style="background-color: white;">
  <div class="space-x-4 flex justify-between items-center">
    <a class="text-base" routerLink=""><img src="../../../assets/wework-logo.svg" alt=""></a>
    <a class="text-base" routerLink="explorar" mat-button>Explorar</a>
    <a class="text-base" routerLink="espacios" mat-button>Espacios</a>
    <a class="text-base" routerLink="membresias" mat-button>Membresías</a>
    <a class="text-base" routerLink="eventos" mat-button>Eventos</a>
    <button
      mat-button
      [matMenuTriggerFor]="menu1"
      #menuTrigger1="matMenuTrigger"
      (mouseenter)="menuTrigger1.openMenu()"
    >
      <span>WeWork</span>
      <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu1="matMenu">
      <div (mouseleave)="menuTrigger1.closeMenu()">
        <button mat-menu-item>Conoce WeWork</button>
        <button mat-menu-item>Carreras</button>
        <button mat-menu-item>Sala de prensa</button>
      </div>
    </mat-menu>

    <button
      mat-button
      [matMenuTriggerFor]="menu2"
      #menuTrigger2="matMenuTrigger"
      (mouseenter)="menuTrigger2.openMenu()"
    >
      <span>Socios</span>
      <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu2="matMenu">
      <div (mouseleave)="menuTrigger2.closeMenu()">
        <button mat-menu-item>Brokers</button>
      </div>
    </mat-menu>
  </div>

  <div class="ml-auto">
    <button class="w-full py-2 px-4 bg-custom-blue text-white">
      <div class="flex items-center justify-between">
        <span>Contactenos</span>
        <mat-icon iconPositionEnd>keyboard_arrow_right</mat-icon>
      </div>
    </button>
  </div>
</mat-toolbar>
