<mat-card class="example-card">
  <mat-card-content class="content-card">
    <div class="w-3/5 flex flex-col justify-between p-4">
      <span class="text-lg">{{ service.service }}</span>
      <span class="text-2xl font-bold">{{ service.title }}</span>
      <p class="text-lg w-2/3">{{ service.message }}</p>
      <button class="flex items-center justify-between">
        {{ service.more }}
        <mat-icon iconPositionEnd>east</mat-icon>
      </button>
    </div>
    <div class="w-2/5">
      <img class="h-80 w-full" [src]="service.image" alt="image" />
    </div>
  </mat-card-content>
</mat-card>
