<div class="flex justify-between">
  <div class="w-1/4">
    <img class="object-cover h-80 w-80" src="../../../assets/promotion.webp" />
  </div>
  <div class="w-3/4 flex flex-col justify-between">
    <div>
      <span class="text-xl">35% DE DESCUENTO POR TIEMPO LIMITADO</span>
    </div>
    <div class="w-3/4 mb-8">
      <span class="text-5xl font-bold"
        >¡Disfruta de 35% de descuento en el plan de membresía All Access
        Plus!</span
      >
    </div>
    <div class="flex justify-between items-center">
      <div class="w-3/4">
        <p style="margin: 0" class="text-xl">
          WeWork All Access Plus es una membresía diseñada para adaptarse a las
          necesidades del trabajo híbrido, con todas las facilidades de una
          oficina completa.
        </p>
      </div>
      <div class="w-2/4 flex items-center cursor-pointer">
        <button
          style="border-color: #00f; color: #00f"
          class="text-xl mr-2"
          mat-stroked-button
        >
          Habla con un Representante de Ventas
        </button>
        <mat-icon style="color: #00f" iconPositionEnd>east</mat-icon>
      </div>
    </div>
  </div>
</div>
