<div class="flex flex-row justify-between">
  <div class="w-1/2">
    <mat-card class="marg" style="height: 100%; box-sizing: border-box">
      <mat-card-header>
        <mat-card-title>
          <p class="text-6xl font-serif">
            Espacios de trabajo flexibles que se ajustan a lo que tú y tu
            compañía necesitan
          </p>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="flex flex-col">
        <div class="my-4">
          <nav>¿Qué necesitas?</nav>
        </div>
        <div class="my-10">
          <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle value="left" aria-label="Text align left">
              <div class="flex flex-col justify-start text-center">
                <mat-icon svgIcon="pc-desk" class="icon-need"></mat-icon>
                <span class="mt-2 text-xl">Espacio para trabajar</span>
              </div>
            </mat-button-toggle>
            <mat-button-toggle value="center" aria-label="Text align center">
              <div class="flex flex-col justify-start text-center">
                <mat-icon svgIcon="teach-class" class="icon-need"></mat-icon>
                <span class="mt-2 text-xl">Sala de reunión/workshop</span>
              </div>
            </mat-button-toggle>
            <mat-button-toggle value="right" aria-label="Text align right">
              <div class="flex flex-col justify-start text-center">
                <mat-icon svgIcon="star-podium" class="icon-need"></mat-icon>
                <span class="mt-2 text-xl">Espacio para evento</span>
              </div>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="flex flex-row my-4">
          <div class="w-3/5">
            <input
              matInput
              placeholder="Ingresa tu ciudad"
              [(ngModel)]="searchTerm" 
              (input)="searchCities()"
              class="w-full h-full"
            />
            <ul>
              <li *ngFor="let city of cities">{{ city }}</li>
            </ul>
          </div>
          <div class="w-2/5">
            <button
              class="w-full py-2 px-4 bg-custom-blue text-white shadow-md"
            >
              <div class="flex items-center justify-between">
                <span class="text-xl">Buscar</span>
                <mat-icon iconPositionEnd>arrow_right</mat-icon>
              </div>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="w-1/2">
    <img src="../../../assets/MainImage.webp" />
  </div>
</div>
